# System
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
ehthumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/
